<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RecordingLocation" value="C:\Sermon Recording" />
    <add key="FTPServerUserName" value="trinity@proceduraltextures.com"/>
    <add key="FTPServerPassword" value="Xhhohohho1234!" />
    <add key="FTPServerAddress" value="ftp://ftp.proceduraltextures.com/"/>
    <add key="EmailDestination" value="sandro997@gmail.com"/>
  </appSettings>
</configuration>