<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RecordingLocation" value="C:\Users\Soundbooth\Desktop\Files\Sermon Recordings" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FTPServerAddress" value="ftp://ftp.proceduraltextures.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FTPServerUserName" value="trinity@proceduraltextures.com" xdt:Transform="Insert"/>
    <add key="FTPServerPassword" value="*****" xdt:Transform="Insert"/>
    <add key="EmailDestination" value="d6r6fg6r8jrkjg3@proceduraltextures.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>